@media screen and (max-width: 767px) {
  .promo_moto {
    font-size: 30px;
  }
  .links {
    flex-direction: column;
    align-items: center;
  }

  .link_description {
    width: 350px;
    justify-content: center;
    align-items: center;
  }
  .right_btn {
    align-self: center;
  }
  .right {
    display: flex;
    flex-direction: column-reverse;
  }
  .small_img_border {
    transform: rotate(0deg);
  }
  .small_img {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
  }
}
@media screen and (max-width: 575px) {
  .logo_title {
    flex-direction: column;
  }
  .promo_moto {
    font-size: 20px;
  }
}
